extends base
block content
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="exclamation triangle icon"></i> Report Issue
        </div>
        <div class="content">
            <form class="ui form" id="issueForm">

                div(class="disabled field")
                    input(type="text" value=`${pptz.ppt}` name="ppt" readOnly)
                <div class="field">
                    <label style="color:white">Issue</label>
                    <input type="text" name="message" required>
                </div>
                
            </form>

        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i> No
            </div>
            <div class="ui green ok inverted button" id="issueSubmit">
            <i class="checkmark icon"></i> Yes
            </div>
        </div>
    </div>

    section(class="section-live")
        .u-center-text(class="u-margin-bottonm-large u-margin-top-large")
            h3(class="heading-secondary") Viewing <span class="u-color-orange">#{ppt}</span> 
        i(class="icon-basic-flag2" id="report")  Report
        
        <div class="live__content">
            <div class="event">
                <div class="label">
                img(src=`/images/profile/${teacher.pic}` alt=`${teacher.name}`)
                </div>
                <div class="content">
                <div class="summary">
                    <a class="user"> #{pptz.name}
                    </a> added on
                    <div class="date"> #{pptz.uploadedOn.toDateString()}
                    </div>
                </div>
                <div class="meta">
                    
                    div(class="like")
                        <i class="thumbs down icon"></i> 
                        <span id="dislikeno">#{pptz.dislike}</span>
                    
                </div>
                    
                </div>
                       
            </div>
        </div>
        
             
        if pptz.format === "ppt"
            //- iframe(src=`//docs.google.com/gview?url=http://127.0.0.1:7000/teacherUploads/${ppt}&embedded=true` style="width:600px; height:500px;" frameborder="0")
            iframe(src=`https://view.officeapps.live.com/op/embed.aspx?src=https://amedemo.herokuapp.com/teacherUploads/${ppt}` width='90%' height='700vh' frameborder='0')
        
        else if pptz.format === "pdf"
            embed(src=`/teacherUploads/${ppt}` type="application/pdf" width="100%" height="600px")
        
        else
            h3 File format not supported
            a(href=`/teacherUploads/${ppt}`, download=`${pptz.ppt}`, class="ui positive button") Download



        script(src="/scripts/view.js")